In [1]:
# importing libraries
import pandas as pd

loading availability data set

In [6]:
# issue with leadsdata; look into this later
df = pd.read_csv("./Datasets/AvailabilityData.csv", sep="\t")
df.head()

,Date,Availability DownTime Duration in hours,Count of Customers Affected,Regions Affected
0,2024-01-01,2,26855,"Japan, China, Europe"
1,2024-01-02,6,43613,Europe
2,2024-01-03,12,46082,"India, Australia, Japan"
3,2024-01-04,14,3150,"Japan, China, Europe"
4,2024-01-05,7,4454,"India, Australia, Japan"

In [5]:
df["Regions Affected"]

0         Japan, China, Europe
1                       Europe
2      India, Australia, Japan
3         Japan, China, Europe
4      India, Australia, Japan
                ...
161                        USA
162       Japan, China, Europe
163         USA, India, Europe
164                      China
165       Japan, China, Europe
Name: Regions Affected, Length: 166, dtype: object

implementing PCA for dimensionality reduction
** skipping exploratory data analysis, visualization, as these are done concurrently with reduction.