In [1]:
# importing libraries
import pandas as pd

In [2]:
# issue with leadsdata; look into this later
df = pd.read_csv("/Users/aryamantepal/Documents/programs/Breakthrough Tech AI MIT/AI Studio/Customer_Sentiment_Analysis/Datasets/CompanyDetails.csv", sep="\t")
df.head()

       Company Name  Employee Count       Region Served
0      Company Name            8870           Australia
1    A+ Electronics           30958  USA, India, Europe
2    A+ Investments           26677              Europe
3  A Plus Lawn Care           34069               China
4       Access Asia           31936  USA, India, Europe

## One-hot encoding of the regions served

In [3]:
df.dtypes

Company Name      object
Employee Count     int64
Region Served     object
dtype: object

In [4]:
df["Region Served"].unique()

array(['Australia', 'USA, India, Europe', 'Europe', 'China', 'India',
       'Japan, India, China', 'Japan', 'USA, Australia, China',
       'USA, Japan', 'Europe, India, Australia',
       'India, Australia, Japan', 'USA', 'Japan, China, Europe'],
      dtype=object)

In [5]:
to_encode = ['Region Served']
df[to_encode]

             Region Served
0                Australia
1       USA, India, Europe
2                   Europe
3                    China
4       USA, India, Europe
...                    ...
4604                 China
4605  Japan, China, Europe
4606                   USA
4607                 India
4608                 India

[4609 rows x 1 columns]

In [6]:
from sklearn.preprocessing import OneHotEncoder # Import OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)
df_enc = pd.DataFrame(encoder.fit_transform(df[to_encode]))
df_enc.head()

    0    1    2    3    4    5    6    7    8    9    10   11   12
0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [7]:
df_enc.columns = encoder.get_feature_names_out(to_encode)
df_enc.head()

,Region Served_Australia,Region Served_China,Region Served_Europe,"Region Served_Europe, India, Australia",Region Served_India,"Region Served_India, Australia, Japan",Region Served_Japan,"Region Served_Japan, China, Europe","Region Served_Japan, India, China",Region Served_USA,"Region Served_USA, Australia, China","Region Served_USA, India, Europe","Region Served_USA, Japan"
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
df.drop(columns = to_encode, inplace=True)

In [9]:
df = df.join(df_enc)
df.columns

Index(['Company Name', 'Employee Count', 'Region Served_Australia',
       'Region Served_China', 'Region Served_Europe',
       'Region Served_Europe, India, Australia', 'Region Served_India',
       'Region Served_India, Australia, Japan', 'Region Served_Japan',
       'Region Served_Japan, China, Europe',
       'Region Served_Japan, India, China', 'Region Served_USA',
       'Region Served_USA, Australia, China',
       'Region Served_USA, India, Europe', 'Region Served_USA, Japan'],
      dtype='object')

In [11]:
df = df.drop(columns=["Company Name"])

## Implementing PCA for dimensionality reduction

In [12]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
pca.fit_transform(df)

array([[ 8.78925559e+03,  9.46061414e-01,  1.44813356e-02],
       [-1.32987444e+04, -1.25842979e-01, -4.18719507e-01],
       [-9.01774441e+03, -3.62514130e-02, -3.83186436e-03],
       ...,
       [-1.70017444e+04, -4.08747302e-02, -3.55758868e-03],
       [ 9.26325559e+03, -9.64558673e-02, -4.52703253e-02],
       [-1.60907444e+04, -9.04257130e-02, -4.03728014e-02]])

In [13]:
print(pca.components_)

[[-1.00000000e+00  3.45897975e-07  1.40287099e-07 -5.75277989e-07
  -3.28389614e-07  1.55302578e-07  5.15610427e-08 -1.89723278e-07
   3.53166127e-07 -4.28623671e-07 -6.47902992e-07  5.15508694e-07
   6.09768070e-07 -1.57404209e-09]
 [ 2.37838380e-07  9.53065633e-01 -1.05884086e-01 -3.34823823e-02
  -4.74220977e-02 -8.93389132e-02 -1.12205975e-01 -7.90505904e-02
  -2.85272344e-02 -4.86392253e-02 -4.00046011e-02 -1.32575911e-01
  -1.24092134e-01 -1.11842482e-01]
 [ 1.93165729e-07  1.68170345e-02 -9.09765367e-02 -4.93586754e-03
  -9.23036637e-03 -4.28430658e-02 -1.40748335e-01 -2.75331235e-02
  -5.56258195e-03 -9.27929382e-03 -6.20382705e-03  8.79088624e-01
  -4.20650453e-01 -1.37942207e-01]]